*{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
canvas{
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

div#mask {
  position: absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  background-color : #fff;
  -webkit-transition: opacity 1s ease-out;
}

div#mask.show {
  z-index: 4;
  opacity: 1;
}

div#mask.hide {
  z-index: 0;
  opacity: 0;
}

div#username_box, a, span{
  -moz-box-shadow:0px 0px 10px 0px rgba(150,150,150,0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(150,150,150,0.2);
  box-shadow: 0px 0px 10px 0px rgba(150,150,150,0.2);
}
div#username_box {
  position:absolute;
  width:400px;
  height:100px;
  background:#333;
  margin:-50px -200px;
  top:50%;
  left:50%;
  z-index:2;
  border-radius:4px;
}
div#username_box input{
  width:280px;
  margin:30px 50px;
  height:30px;
  padding:5px;
  font-size:30px;
  border-radius:4px;
}
a{
  position:absolute;
  top:5px;
  right:5px;
  padding:5px 7px;
  background:#efefef;
  color:#333;
  border-radius:8px;
  z-index:2;
  text-decoration:none;
  border:1px solid #333;
}
a:hover{
  background:#333;
  color:#efefef;
  border:1px solid #efefef;
}
span{
  height:100%;
  width:200px;
  border-right:1px solid #000;
  color:#efefef;
  display:block;
  background:#333;
  position: absolute;
  z-index: 3;
  text-align:left;
  padding:5px;
}